.footer{
    background-color: $darkGreen;
    padding: 66px 0;
    @media (max-width: 768px) {
        padding: 50px 0;
    }
    .footer__row{
        display: -ms-flexbox;
        display: flex;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        min-width: 100%;
        position: relative;
        .footer__logo{
            display: inline-block;
            -ms-flex: 0 0 29.825%;
            flex: 0 0 29.825%;
            max-width: 270px;
            @media (max-width: 768px) {
                flex: none !important;
                margin-bottom: 50px;
            }
            img{
                max-width: 270px;
                @media (max-width: 768px) {
                    margin: 0 auto;
                    max-width: 195px;
                }
            }
        }
        .footer__quicklinks{
            width: 24.56%;
            -ms-flex: 0 0 24.56%;
            flex: 0 0 24.56%;
            max-width: 24.56%;
            @media (max-width: 768px) {
                flex: none !important;
                order: 2;
                font-size: 16px;
            }
            ul{
                margin: 0;
                li{
                    @media (max-width: 768px) {
                        &:not(:first-child){
                            padding-top: 10px;
                        }
                    }
                    a{
                        line-height: 37px;
                        @include menuStyle();
                        color: $menuColor;
                        font-weight: normal;
                        text-transform: uppercase;
                        @media (max-width: 768px) {
                            text-transform: none;
                        }
                        &:hover{
                            color: $goldColor;
                        }
                    }
                }
            }
        }
        .footer__people{
            -ms-flex: 0 0 45.615%;
            flex: 0 0 45.615%;
            max-width: 45.615%;
            @media (max-width: 768px) {
                flex: none !important;
                margin-top: 45px;
                order:1;
            }
        }
        .footer__title{
            @include menuStyle();
            font-weight: 700;
            color: $titleColor;
            line-height: 22px;
            &.title__connect{
                margin-bottom: 15px;
            }
            @media (max-width: 768px) {
                font-size: 16px;
                line-height: 22px;
            }
        }
        .footer__brand {
            @media(max-width: 768px){
                display: flex;     
            }
            li{
                // max-width: 150px;
                width: calc(50% - 15px);
                padding-bottom: 15px;
                @media(max-width: 768px){
                    padding: 0 15px;
                    &:last-child{
                        order:0;
                        margin-right: 0!important;
                    }
                    &:first-child{
                        order: 1;
                    }
                    &:nth-child(2){
                        order: 2;
                    }
                }
            }
        }
        .footer__social{
            margin:0;
            li{
                max-width: 34px;
                @media (max-width: 768px) {
                    max-width: 16px;
                }
            }
        }
        .footer__img{
            li{
                display: inline-block;
                &:not(:nth-child(2)){
                    margin-right: 20px;
                }
                @media (max-width: 768px) {
                    &:first-child{
                        display: block;
                        margin: 0 auto 30px;
                    }
                }
            }
        }
    }
    .copyright{
        color:$menuColor;
        font-size: 14px;
        line-height: 1.44;
        position: absolute;
        width: 100%;
        bottom: 0;
        margin-bottom: 10px;
        @media (max-width: 768px) {
            position: relative;
        }
        .company{
            padding-bottom: 15px;
            display: block;
            line-height: 26px;
            @media (max-width: 768px) {
                line-height: 20px;
            }
        }
    }
    .col-md-2{
        position: relative;
    }
    .social{
        @media (max-width: 768px) {
            margin-top: 50px;
        }
        li{
            display: block;
            margin-bottom: 10px;
            a{
                color:#D5CDC4;
                font-size: 14px;
                line-height: 1.44;
                display: block;
                img{
                    display: inline-block;
                    padding-right: 5px;
                }
            }
        }
    }
}