$color_1: #fff;
// $col_2: 16.66666667%;
// $width: calc(((100% - 960x) / 2) + 16.66666667%);
// $half_width:calc((((100% - 960px) / 2) + 16.66666667%) / 2);
// @media (min-width: 1200px) {
// 	$width: calc(((100% - 1140px) / 2) + 16.66666667%);
// }
// @media (min-width: 1400px) {
// 	$width: calc(((100% - 1320px) / 2) + 16.66666667%);
// }	
.radialmenu {
	overflow: hidden;
	margin: 0;
	list-style: none;
	position: relative;
	left: -71px;
	@media (max-width: 992px) {
		left: 0;
	}
	@media (max-width: 991px) {
		margin: 0 auto;
	}
	li {
		position: absolute;
		border-radius: 100%;
	}
	a {
		position: absolute;
		top: 0;
		left: 0;
		display: block;
		border-radius: 100%;
		background: #003E4B;
		transform: rotate(36deg);
		transition: 0.15s ease-in-out;
		backface-visibility: hidden;
		text-transform: uppercase;
		font-size: 12px;
		@media (min-width: 1200px) {
			font-size: 14px;
		}
		@media (min-width: 1360px) {
			font-size: 16px;
		}
		@media (min-width: 1400px) {
			font-size: 18px;
		}
		@media (min-width: 1600px) {
			font-size: 20px;
		}
		@media (min-width: 1800px) {
			font-size: 24px;
		}
		&.active{
			background: #A18565;
		}
		span {
			transform: rotate(-36deg);
			display: block;
			color: $color_1;
			text-align: left;
			z-index: 999;
			position: relative;
			width: 50%;
			margin: 0 auto;
			font-family: $headlineFont;
			@media (max-width: 991px) {
				width: 42%;
			}
		}
	}
}
.one {
	transform: rotate(0deg);
	@media (max-width: 991px) {
		transform: rotate(234deg);
		z-index: 10;
	}
	a{
		span{
			top: -4%;
			left: 4%;
			@media (min-width: 1200px) {
				top: -1%;
				left: 2%;
			}
			@media (min-width: 1400px) {
				top: 2%;
				left: 2.5%;
			}
			@media (max-width: 991px) {
				top: 31%;
				left: -9.7%;
				transform: rotate(90deg);
			}
		}
	}
}
.two {
	transform: rotate(36deg);
	@media (max-width: 991px) {
		transform: rotate(198deg);
		z-index: 9;
	}
	a {
		span {
			transform: rotate(-72deg);
			top: -2%;
			left: -6%;
			@media(min-width: 1200px){
				top:0;
				left: -5%;
			}
			@media (min-width: 1500px) {
				top: -10px;
				left: -18px;
			}
			@media (min-width: 1560px) {
				top: -10px;
				left: -35px;
			}
			@media (max-width: 991px) {
				transform: rotate(126deg);
				top: 23%;
				left: -18%;
			}
		}
	}
}
.three {
	transform: rotate(72deg);
	@media (max-width: 991px) {
		transform: rotate(162deg);
		z-index: 8;
	}
	a {
		span {
			transform: rotate(-108deg);
			line-height: 1.4;
			top: -1%;
			left: -15%;
			@media (min-width: 992px) {
				br{
					display: inline-block;
				}
			}
			@media (min-width: 1200px) {
				top: 0;
				left: -14.5%;
			}
			@media (min-width: 1400px) {
			}
			@media (max-width: 991px) {
				transform: rotate(162deg);
				top: 10%;
				left: -12%;
				line-height: 1.3;
				text-align: center;
			}
		}
	}
}
.four {
	transform: rotate(108deg);
	@media (max-width: 991px) {
		transform: rotate(126deg);
		z-index: 7;
	}
	a {
		span {
			transform: rotate(-144deg);
			top: 1%;
			left: -23%;
			@media (min-width: 1200px) {
				top: 4%;	
			}
			@media (min-width: 1400px) {
				top: 4%;
				left: -25%;
			}
			@media (max-width: 991px) {
				transform: rotate(198deg);
				top: 9%;
				left: -25%;
			}
		}
	}
}
.five {
	transform: rotate(144deg);
	@media (max-width: 991px) {
		transform: rotate(90deg);
		z-index: 6;
	}
	a {
		span {
			transform: rotate(-180deg);
			top: 8%;
			left: -33%;
			@media(min-width:1200px){
				left: -31%;
			}
			@media (min-width: 1400px) {
				left: -30%;
				top: 10%;
			}
			@media (min-width: 1560px) {
			
			}
			@media (max-width: 991px) {
				transform: rotate(234deg);
				bottom: auto;
				top: 5.7%;
				left: -18.5%;
			}
		}
	}
}