$color_1: #fff;
// $col_2: 16.66666667%;
// $width: calc(((100% - 960x) / 2) + 16.66666667%);
// $half_width:calc((((100% - 960px) / 2) + 16.66666667%) / 2);
// @media (min-width: 1200px) {
// 	$width: calc(((100% - 1140px) / 2) + 16.66666667%);
// }
// @media (min-width: 1400px) {
// 	$width: calc(((100% - 1320px) / 2) + 16.66666667%);
// }	
.radialmenu {
	overflow: hidden;
	margin: 0;
	list-style: none;
	li {
		position: absolute;
		// left: 0;
		// margin-left: 0;
		// width: 100%;
		// height: 100%;
		border-radius: 100%;
		// clip: rect(-25px, $width, $width, $half_width);
	}
	a {
		position: absolute;
		top: 0;
		left: 0;
		display: block;
		border-radius: 100%;
		background: #003E4B;
		transform: rotate(36deg);
		transition: 0.15s ease-in-out;
		backface-visibility: hidden;
		text-transform: uppercase;
		font-size: 14px;
		@media (min-width: 1400px) {
			font-size: 16px;
		}
		@media (min-width: 1400px) {
			font-size: 18px;
		}
		@media (min-width: 1600px) {
			font-size: 20px;
		}
		@media (min-width: 1800px) {
			font-size: 24px;
		}
		&.active{
			background: #A18565;
		}
		span {
			transform: rotate(-36deg);
			display: block;
			color: $color_1;
			text-align: left;
			z-index: 999;
			position: relative;
			width: 50%;
			margin: 0 auto;
			font-family: $headlineFont;
		}
		&:hover {
			background: #A18565;
		}
	}
}
.one {
	transform: rotate(0deg);
}
.two {
	transform: rotate(36deg);
	a {
		span {
			transform: rotate(-72deg);
			top: -2px;
			left: -20px;
		}
	}
}
.three {
	transform: rotate(72deg);
	a {
		span {
			transform: rotate(-108deg);
			top: 14px;
			left: -62px;
		}
	}
}
.four {
	transform: rotate(108deg);
	a {
		span {
			transform: rotate(-144deg);
			top: 30px;
			left: -115px;
		}
	}
}
.five {
	transform: rotate(144deg);
	a {
		span {
			transform: rotate(-180deg);
			top: 55px;
			left: -130px;
		}
	}
}