@mixin buttonStyle {
    background-color: $buttonColor;
}
@mixin menuStyle {
    color: $darkGreen;
    font-family: $menuFont;
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 0.05em;
}
@mixin bannerStyle {
    right: 0;
    margin: 0 auto;
    text-align: center;
    font-weight: 700;
    z-index: 2;
}
// @mixin titleStyle {
//     font-style: normal;
//     font-weight: bold;
//     font-size: 45px;
//     line-height: 55px;
//     letter-spacing: -0.01em;
//     position: relative;
//     font-family: $headlineFont;
// }
@mixin spanStyle {
    font-weight: normal;
    display: block;
}
@mixin beforeAfterStyle {
    height: 1px;
    width: 130px;
    bottom: -20px;
}
@mixin beforeAfterStyleCenter{
    top: 0;
    left: 0;
    right: 0;
    margin: 0 auto;
    background-color: $titleColor;
}
@mixin dFlexStyle {
    display: flex;
    flex-wrap: wrap;
}
@mixin marginStyle {
    margin-left: 15px;
    margin-right: 15px;
}
@mixin bannerMStyle {
    margin: 0 15px;
    border-radius: 5px;
    margin-top: -150px;
    position: relative;
}
@mixin innerMStyle {
    margin-left: 0;
    padding: 0 30px;
    margin-top: -40px;
}
@mixin liMStyle {
    width: calc(50% - 17px);
    display: inline-block;
    vertical-align: top;
    &:nth-child(odd){
        margin-left: 0;
    }
    &:nth-child(even){
        margin-right: 0;
    }
}