$titleColor: #B08E70;
$darkGreen: #003E4B;
$whiteColor: #FFFFFF;
$goldColor: #B08E70;
$buttonColor: #b18e70;
$grayColor:#333333;
$grayColor2: #4F4F4F;
$grayColor3: #151515;
$grayColor4: #828282;
$lightGray: #F3F3F4;
/*font*/
$menuColor: #D5CDC4;
$menuFont: 'Inter', sans-serif;
$headlineFont: 'Cormorant Garamond', sans-serif;
/*Z-index*/
$zindex-dropdown:          1000 !default;
$zindex-sticky:            1020 !default;
$zindex-fixed:             1030 !default;
$zindex-modal-backdrop:    1040 !default;
$zindex-modal:             1050 !default;
$zindex-popover:           1060 !default;
$zindex-tooltip:           1070 !default;