$titleColor: #B08E70;
$darkGreen: #003E4B;
$whiteColor: #FFFFFF;
$goldColor: #B08E70;
$buttonColor: #b18e70;

/*font*/
$menuColor: #D5CDC4;
$menuFont: 'Manrope';
$headlineFont: 'Playfair Display';
/*Z-index*/
$zindex-dropdown:          1000 !default;
$zindex-sticky:            1020 !default;
$zindex-fixed:             1030 !default;
$zindex-modal-backdrop:    1040 !default;
$zindex-modal:             1050 !default;
$zindex-popover:           1060 !default;
$zindex-tooltip:           1070 !default;