@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500&Manrope:wght@400;700&display=swap');
@import 'fonts';
@import 'variable';
@import 'mixins';
@import 'common';
@import 'header';
@import 'banner';
@import 'footer';
@import 'language';
@import 'menu_partner';
body{
    font-family: $menuFont;
    color: $darkGreen;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 22px;
    letter-spacing: -0.01em;
}
.img-fluid{
    max-width: 100%;
}
h3 span{
    font-weight: normal;
}
.content{
    position: relative;
}
#navbar{
    margin-bottom: 0;
}
/*home*/
.home__banner{    
    // .banner__title{
    //     font-size: 45px;
    //     line-height: 55px;
    //     @media (max-width: 768px){
    //         padding: 0 30px;
    //         bottom: -70px;
    //         z-index: 2;
    //         font-size: 30px;
    //         line-height: 40px;
    //         &::after{
    //             left: 30px!important;
    //         }            
    //     }
    // }
    &::after{
        content: "";
        position: absolute;
        top: 0;
        right: 0;
        width: 50%;
        height: 100%;
        background-size: cover;
        @media (max-width: 768px) {
            background:transparent!important;
        }
    }
    position: relative;
    height: 640px;
    @media(min-width: 992px) and (max-width: 1440px) {
        height: 488px;
    }
    .banner__content{
        color:#333;
        p{
            color:#4F4F4F;
        }
    }
    @media (max-width: 768px) {
        // background: url(../images/home-banner-m.jpg) no-repeat center;
        // background-size: 100%;
        // width: 100%;
        .banner__container{
            top: auto;
        }
        max-height: none;
        h1{
            &::after{
                right: auto;
                bottom: -15px;
            }
            margin-bottom: 40px!important;
        }
        .banner__content{
            color: $whiteColor;
            p{
                color: $whiteColor;
                line-height: 1.44;
                padding-right:24px;
            }
        }
    }
}
.investment{
    position: relative;
    margin-top: 180px;
    margin-bottom: 150px;
    &__title{
        margin-bottom: 50px;
        &::before {
            content: "";
            position: absolute;
            left: 0;
            height: 1px;
            width: 125px;
            bottom: -8px;
            background-color: #333333;
        }
    }
    &__menu{
        position: absolute;
        left: 0;
        top: 50px;
        display: flex;
        align-items: center;
        height: 100%;
        width: calc(((100% - 1320px) / 2) + 16.66666667%);
        @media (min-width: 992px) {
            max-width: 200px;
        }
        @media (min-width: 1366px) {
            max-width: 250px;
        }
        @media (min-width: 1600px) {
            max-width: 300px;
        }
        // width: calc((100% - 1170px) / 2);
    }
}
.introduce{
    &__info{
        padding-top: 160px;
        text-align: center;
        @media (max-width: 768px) {
            padding-top: 90px;
        }
        &--title{
            position: relative;
            margin-bottom: 25px;
            color:$grayColor;
            &::before{
                content: "";
                position: absolute;
                left: 0;
                height: 1px;
                width: 125px;
                bottom: -8px;
                right: 0;
                margin: 0 auto;
                background-color: $grayColor;
                @media (max-width: 768px) {
                    width: 80px;
                    bottom: -3px;
                }
            }
            @media (max-width: 768px) {
                margin-bottom: 4px;
            }
        }
        &--desc{
            // border: 1px solid $darkGreen;
            // border-radius: 20px;
            width: 80%;
            margin: 0 auto 25px;
            padding: 15px;
            font-size: 14px;
            line-height: 1.44;
            color:$grayColor2;
            @media (max-width: 768px) {
                margin: 0 auto;
                padding: 15px;
                width: 100%;
            }
            p:not(:first-child){
                font-size: 24px;
                font-family: $headlineFont;
            }
        }
    }
    &__item{       
        border: 1px solid $goldColor;
        min-height: 400px;
        padding: 40px 15px 0;
        transition: 0.3s all ease;
        @media (max-width: 768px) {
            min-height: auto;
            padding: 25px;
            display: flex;
            align-items: flex-start;
            margin-bottom: 15px;
            min-height: 179px;
        }
        &--desc{
            text-align: center;
            padding: 0 10px;
            font-size: 14px;
            color: $grayColor2;
            h3{
                font-size: 24px;
                position: relative;
                margin-top: 28px;
                margin-bottom: 10px;
                line-height: 1.44;
                color:$grayColor;
                @media (max-width: 768px) {
                    margin-top: 0;
                    margin-bottom: 5px;
                }
                // &::before{
                //     content: "";
                //     position: absolute;
                //     left: 0;
                //     height: 1px;
                //     width: 125px;
                //     top: -15px;
                //     right: 0;
                //     margin: 0 auto;
                //     background-color: $darkGreen;
                // }
            }
            @media (max-width: 768px) {
                text-align: left;
                padding: 0 0 0 12px;
                p{
                    margin-bottom: 0;
                }
            }
        }
        &:hover{
            background: $darkGreen;
            h3{
                color:$whiteColor;
            }
            p{
                color:$whiteColor;
            }
            .introduce__item--img__hover{
                display:inline-block;
            }
            .introduce__item--img{
                display: none;
            }
        }
        &--img{
            @media (max-width: 768px) {
                max-width: 40px;
                margin-right: 12px;
            }
            &__hover{
                display: none;
                @media (max-width: 768px) {
                    max-width: 40px;
                    margin-right: 20px;
                }
            }
        }
    }
    &__journey{
        background:url(../images/journey-bg.png) no-repeat;
        background-size: 100%;
        margin-top: 80px;
        padding: 90px 0 125px;
        text-align: center;
        @media (max-width: 768px) {
            padding: 0 0 80px;
            background:url(../images/journey-bg-m.png) no-repeat;
            background-size: 100%;
        }
        &--title{
            margin-bottom: 75px;
        }
        img{
            margin: 0 auto;
            @media (max-width: 1650px) {
                max-width: 90%;
            }
        }
    }
    &__profile{
        background: url(../images/portfolio-bg.jpg) no-repeat center;
        background-size: cover;
        padding: 110px 0;
        color: $whiteColor;
        font-size: 14px;
        line-height: 1.44;
        letter-spacing: -0.01em;
        font-weight: 400;
        @media (max-width: 768px) {
            background: url(../images/portfolio-bg-m.jpg) no-repeat center top;
            background-size: cover;
            text-align: center;
            .col-md-3:first-child,
            .col-md-3:nth-child(4){
                padding-right: 4px;
            }
            .col-md-3:nth-child(2),
            .col-md-3:last-child{
                padding-left: 4px;
            }
            .col-md-3:first-child{
                img{
                    max-width: 140px;
                }
            }
            .col-md-3:nth-child(2){
                img{
                    max-width: 160px;
                }
            }
            .col-md-3:nth-child(5),
            .col-md-3:nth-child(4){
                img{
                    max-width: 80px;
                }
            }
        }
        h3{
            color: $whiteColor;
            margin-bottom: 60px;
            display: inline-block;
            &::after{
                left: 0;
                height: 1px;
                bottom: -20px;
                background-color: $whiteColor;
                width: 80%;
            }
            @media (max-width: 768px) {
                font-size: 48px;
                &::after{
                    right: 0;
                    margin: 0 auto;
                }
            }
        }
        &--item{
            margin-top: 50px;
            // display: flex;
            // align-items: center;
            // filter: drop-shadow(-5px 8px 15px rgba(0, 0, 0, 0.4));
            // border-radius: 17.9182px;
            background-color: $whiteColor;
            position: relative;
            &:hover{
                .introduce__profile--desc{
                    background-position: left;
                }
            }
            @media (max-width: 768px) {
                margin: 4px 0;
            }
            // &::after{
            //     content:"";
            //     position: absolute;
            //     top: 0;
            //     right: 0;
            //     width: calc(50% + 60px);
            //     height: 100%;
            //     z-index: -1;
            //     border-radius: 17.9182px;
            //     background-color: $whiteColor;
            // }
            // h4{
            //     font-size: 18px;
            //     color: $darkGreen;
            //     margin-bottom: 15px;
            //     line-height: 1;
            // }
            // p{
            //     font-size: 14px;
            // }
        }
        &--logo{
            height: 270px;
            display: flex;
            align-items: center;
            text-align: center;
            padding: 0;
            img{
                max-height: 103px;
                margin: 0 auto;
                max-width: 66%;
            }
            @media (max-width: 768px) {
                height: 135px;
            }
            // width: 50%;
            // background: #003E4B;
            // padding: 80px 30px;
            // border-radius: 17.9182px;
            // @media (max-width: 1400px) {
            //     padding: 93px 30px;
            // }
            // img{
            //     min-height: 68px;
            // }
            // &.galaxy{
            //     background: #003462;
            // }
        }
        &--desc{
            color: $whiteColor;
            background-color: $goldColor;
            padding: 10px 40px 10px 20px;
            font-size: 14px;
            position: relative;
            transition: 0.3s ease-out;
            background: linear-gradient(to left, $goldColor 50%, $darkGreen 50%) right;
            background-size: 200%;
            min-height: 60px;
            display: flex;
            align-items: center;
            @media (max-width: 1340px) {
                font-size: 13px;
            }
            @media (max-width: 768px) {
                font-size: 12px;
                padding: 10px 30px 10px 8px;
                text-align: left;
                height: 54px;
                display: flex;
                align-items: center;
                min-height: auto;
            }
            span{
                display: inline-block;
            }
            .goto{
                position: absolute;
                right: 15px;
                @media (max-width: 768px) {
                    right: 10px;
                    top: 18px;
                }
            }
        }
    }
    &__news{
        margin-top: 115px;
        margin-bottom: 115px;
        font-size: 20px;
        &--list{
            margin-top: 50px;
        }
        &--title{
            font-size: 45px;
            margin-bottom: 30px;
            position: relative;
            span{
                font-weight: 400;
            }
            &::before{
                content: "";
                position: absolute;
                left: 0;
                height: 1px;
                width: 125px;
                bottom: -15px;
                left: 0;
                background-color: $darkGreen;
            }
        }
        &--more{
            font-size: 18px;
            line-height: 25px;
            text-align: right;
            letter-spacing: -0.01em;
            text-transform: uppercase;
            color: $goldColor;
            text-align: right;
            display: inline-block;
            &:hover{
                color:$darkGreen;
            }
        }
        &--item{
            color:$whiteColor;
            font-size: 12px;
            background: $goldColor;
            border-radius: 20px;
            h4{
                font-size: 18px;
                line-height: 1.4;
                text-transform: lowercase;
                &:first-letter {
                    text-transform: uppercase;
                }
            }
        }
        &--img{
            max-height: 230px;
            overflow: hidden;
            @media (max-width: 1400px) {
                max-height: 200px;
            }
            img{
                border-top-left-radius: 20px;
                border-top-right-radius: 20px;
            }
        }
        &--date{
            display: inline-block;
            padding-bottom: 10px;
        }
        &--desc{
            padding:24px;
            height: 275px;
        }
    }
    &__contact{
        background-color: #D5CDC4;
        position: relative;
        &--info{
            padding: 100px 15px;
            font-size: 14px;
        }
        &--title{
            color:$goldColor;
            font-size: 20px;
            margin-bottom: 10px;
            line-height: 1.4;
            &.hanoi{
                margin-top: 30px;
            }
        }
        &--text{
            &.tel{
                font-weight: 700;
                a{
                    color:$darkGreen;
                    &:hover{
                        color:$goldColor;
                    }
                }
            }
        }
        &--map{
            position: absolute;
            top: 0;
            right: 0;
            height: 100%;
            iframe{
                height: 100%;
            }
        }
    }
}
.solutions{
    @media(max-width: 768px){
        padding-top: 120px;
    }
    .solution__item{
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        margin: 50px 0;
        &:first-child{
            .solution__photo{
                padding-right: 30px;
                padding-left: 37px;
            }
            .solution__desc{
                padding-left: 30px;
            }
        }
        &:last-child{
            .solution__photo{
                padding-left: 30px;
                padding-right: 37px;
                &::before{
                    right: 0;
                    bottom:0;
                }
                @media(max-width: 768px){
                    order:1;
                }
            }
            .solution__desc{
                padding-right: 80px;
                @media(max-width: 768px){
                    padding-left: 30px;
                    order: 2;
                }
            }
        }
        .solution__photo{
            width: 50%;
            max-width: 588px;
            position: relative;
            @media(max-width: 768px){
                padding-left: 30px;
                img{
                    padding-left: 20px;
                }
            }
            &:before{
                content:"";
                width: 37px;
                height: 80%;
                background-color: $darkGreen;
                position: absolute;
                left: 0;                    
                z-index: -1;
                @media(max-width: 768px){
                    left: 30px;
                    top: -30px;
                    width: calc(100% - 110px);
                }
            }
        }
        .solution__desc{
            width: 45%;
            max-width: 488px;  
            @media(max-width: 768px){
                padding-right: 30px!important;
                padding-top: 20px;
            }          
            .solution__title{                                
                color: $darkGreen;                
                margin: 0 0 50px;
                span{
                    display: block;
                }
                &:after{
                    @include beforeAfterStyle();
                    background-color: $darkGreen;
                    left: 0;
                }
            }
        }
    }
}
.ecosystem{
    background:url(../images/home-bg2.jpg) no-repeat 0 -168px;
    background-size: cover;
    padding: 60px 0 0;
    position: relative;
    z-index: 2;
    @media (max-width: 768px) {
        overflow: hidden;
        padding: 50px 30px 30px;
        font-size: 14px;
        font-weight: 300;
        background-position-y: -130px;
        .bx-viewport{
            overflow: visible!important;
        }
    }
    .ecosystem__title{        
        color: $titleColor;
        text-align: center;
        span{
            display: inline-block;
        }
        &::after{
            @include beforeAfterStyle();
            background-color: $titleColor;
            left: 0;
            right: 0;
            margin: 0 auto;
        }
        @media (max-width: 768px) {
            margin-top: 0;
        }
    }
    .ecosystem__info{
        color:$whiteColor;
        max-width: 500px;
        text-align: center;
        margin: 0 auto 40px;
    }
    .ecosystem__list{
        @include dFlexStyle();
        @media (max-width: 768px) {
            width: calc(100% - 120px);
            padding: 0 15px;
            height: 100%;
        }
        .ecosystem__item{
            max-width: 360px;
            margin-right: 15px;
            margin-left: 15px;
            background-color: $darkGreen;
            color: $whiteColor;
            filter: drop-shadow(-2px -4px 10px rgba(0, 0, 0, 0.6));
            &:first-child{
                margin-left: 0;
                @media (max-width: 768px) {
                    margin-left: 15px;
                }
            }
            &:last-child{
                margin-right: 0;
                @media (max-width: 768px) {
                    margin-right: 15px;
                }
            }
            @media (max-width: 1200px){
                max-width: 300px;
                width: calc(33% - 18px);
            }
            @media (max-width: 768px) {
                width: calc(100% - 60px)!important;
                &[aria-hidden="true"]{
                    height: 85%;
                    top: 0;
                    bottom: 0;
                    margin: auto 0;
                    left: -83%;
                    display: block!important;
                    &:after{
                        left: auto;
                        content: "";
                        height: 100%;
                        width: 30px;
                        position: absolute;
                        top: 0;
                        bottom: 0;
                        background: $darkGreen;
                        margin: auto 0;
                        right: 0;
                    }
                }
                + [aria-hidden="true"]{                    
                    right: -83%;
                    left: auto;
                    &:after{
                        left: 0;
                    }
                }
            }
            .ecosystem__desc{
                padding: 0 40px;
                @media (max-width: 768px) {
                    min-height: 300px;
                    padding: 0 30px;
                }
                .ecosystem__logo{
                    max-width: 200px;
                }
                .ecosystem_detail{
                    padding-top: 10px;
                    p{
                        min-height: 70px;
                        @media (max-width: 768px) {
                            min-height: auto;
                        }
                    }
                    ul{
                        padding-bottom: 40px;
                        li{        
                            a{        
                                position: relative;
                                padding-left: 20px;
                                font-family: $menuFont;
                                font-style: normal;
                                font-weight: normal;
                                line-height: 25px;
                                letter-spacing: -0.01em;
                                color:$whiteColor;
                                &:hover{
                                    color: $goldColor;
                                    &:after{
                                        border-bottom-color: $goldColor;
                                    }
                                }
                                &::after{
                                    content:"";
                                    position: absolute;
                                    width: 0;
                                    height: 0;
                                    border-left: 6px solid transparent;
                                    border-right: 6px solid transparent;
                                    border-bottom: 10px solid #D5CDC4;
                                    transform: rotate(90deg);
                                    left: 0;
                                    top: 7px;
                                }
                            }
                        }
                    }
                }
            }
            .btn-explore{
                position: absolute;
                bottom: -20px;
                right: 40px;
                @media (max-width: 768px) {
                    padding: 6px 19px;
                }                
                img{
                    max-width: 25px;
                    margin-left: 8px;
                    transition: 0.5s;
                    position: relative;
                    right: 0;
                }
                &:hover{
                    filter: drop-shadow(-2px -4px 10px rgba(0, 0, 0, 0.5));
                    img{
                        right: -15px;
                    }
                }
            }
        }
    }
    .ecosystem__nav{
        position: absolute;
        bottom: 310px;
        left: 0;
        height: 42px;
        z-index: 99;
        width: 100%;
        padding: 0;
        display: none;
        @media (max-width: 768px) {
            display: block;   
        }
        div{
            position: absolute;                
            &#ecosystem__prev{
                left: 25px;
            }
            &#ecosystem__next{
                right:25px;
            }
            a{
                display: inline-block;
            }
        }
    }
}
.map{
    background: url(../images/world-map.png) no-repeat bottom center;
    background-size: 100%;
    padding-top: 80px;
    padding-bottom: 100px;
    margin-top: -70px;
    position: relative;
    z-index: 1;
    margin-bottom: 32px;
    text-align: center;
    @media (max-width: 768px) {
        padding: 30px 40px 0;
        background-size: cover;
        margin-top:0;
    }
    .map__journey{
        @media (max-width: 768px) {
            margin-bottom: 30px;
        }
        h3{
            margin-top: 70px;
            &::after{
                @include beforeAfterStyle();
                background-color: $darkGreen;
                left: 0;
                right: 0;
                margin: 0 auto;
                @media (max-width: 768px) {
                    width: 80px;
                }
            }
            @media (max-width: 768px) {
                margin-top: 0;
            }
        }
    }
    img{
        position: relative;
    }
}
/*management*/
.philosophy{
    .banner__title{
        right: 0;
        margin: 0 auto;
        text-align: center;
        span{
            display: block;
        }
        &::after{
            right: 0;
            margin: 0 auto;
            @media (max-width: 768px) {
                left: 0!important;
            }
        }
        @media (max-width: 768px) {
            bottom: auto!important;
            top: 15px!important;
        }
    }
}
.mission{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin-top: -110px;
    background-color: $darkGreen;
    position: relative;
    padding-bottom: 85px;
    z-index: 2;
    @media(max-width: 840px){
    }
    @media (max-width: 768px) {
        @include bannerMStyle();
    }
    .mission__photo{
        width: 55%;
        max-width: 520px;
        margin-top: -155px;
        margin-left: 100px;
        filter: drop-shadow(0px 5px 20px rgba(0, 0, 0, 0.6));
        @media (max-width: 1024px){
            margin-left: 50px;
            width: 35%;
        }
        @media(max-width: 840px){
            margin-top: -30px;
            width: 100%;
            max-width: 100%;
            margin: 50px;
        }
        @media (max-width: 768px) {
            @include innerMStyle();
        }
    }
    .mission__content{
        color: $whiteColor;
        padding: 65px 65px 0;     
        max-width: 520px;
        @media (max-width: 1024px){
            padding: 65px 0px 0 50px;
        }
        @media (max-width: 768px) {
            padding: 30px;
        }
        .mission__title{            
            color: $titleColor;
            margin: 0 0 15px;
        }
    }
}
.management{
    margin-top: 75px;
    margin-bottom: 60px;
    ul{
        display: flex;
        @media (max-width: 768px) {
            flex-wrap: wrap;
            padding: 0 15px;
            display: block;
        }
        li{
            text-align: center;
            margin-left: 15px;
            margin-right: 15px;
            width: 25%;
            &:first-child{
                margin-left: 0;
            }
            &:last-child{
                margin-right: 0;
            }
            @media (max-width: 768px) {
                @include liMStyle();
            }
            .management__photo{
                max-width: 130px;
                margin: 0 auto;
                @media (max-width: 768px) {
                    max-width: 83px;
                    height: 83px;
                }
            }
            .management__title{
                color:$titleColor;
                font-size: 30px;
                font-family: $headlineFont;
                font-weight: bold;
                @media (max-width: 768px) {
                    font-size: 20px;
                }
            }
        }
    }
}
/*structure*/
@media (max-width: 768px) {
    .banner.structure__banner{
        .banner__title{
            right: 0;
            color: $whiteColor;
            font-size: 30px;
            line-height: 40px;
            text-align: center;
            &::after{
                background-color: $whiteColor;
                right: 0;
                margin: 0 auto;
            }
        }
    }
}
.board{
    padding: 0 67px 40px;
    color: $whiteColor;
    position: relative;
    margin-top: -10%;
    background-color: $darkGreen;
    display: flow-root;
    z-index: 2;
    /*&::after{
        content:"";
        position: absolute;
        background-color: $darkGreen;
        width: 100%;
        height: 100%;
        left: 0;
        z-index: -1;
        bottom: -40px;
    }*/
    @media(max-width: 840px){
        margin-top: -5%;
    }
    @media (max-width: 768px) {
        @include bannerMStyle();
        padding: 0 30px;
        .bx-pager{
            text-align: center;
            padding-bottom: 40px;
            .bx-pager-item {                
                display: inline-block;
                margin: 0 6px;
                vertical-align: middle;
                a{
                    width: 10px;
                    height: 10px;
                    display: block;
                    font-size: 1px;
                    border-radius: 50%;
                    background-color: $goldColor;
                    &.active{
                        background-color: $menuColor;
                        width: 15px;
                        height: 15px;
                    }
                }
            }
        }
    }
    .board__management{
        margin-top: -40px;
        .btn-board{
            text-transform: none;
            text-align: center;
            font-size: 30px;
            line-height: 55px;
            font-family: $headlineFont;
            font-weight: 700;
            border-radius: 10px;
            padding: 11px 0 3px;
            background-color: $titleColor;
            img{
                display: inline-block;
                max-width: 64px;
                margin-top: 5px;
            }
            .label{
                vertical-align: top;
                display: inline-block;
                @media (max-width: 768px) {
                    font-size: 20px;
                    line-height: 26px;
                    padding-bottom: 11px;
                }
            }
        }
    }
    .board__list{
        display: flex;
        @media (max-width: 768px) {
            display: block;
        }
        .board__item{
            @include marginStyle();
            width: 25%;
            position: relative;
            padding-top: 15px;
            // &::before{
            //     @include beforeAfterStyleCenter();
            //     width: 1px;
            //     height: 30px;                
            // }            
            &::before,&::after{
                content: "";
                position: absolute;
                left: 0;
                right: 0;
                margin: 0 auto;
                background-color: $goldColor;
            }
            &::before{
                width: 1px;
                height: 30px;
                top: 0;
            }
            &::after{
                width: 10px;
                height: 10px;
                top: 25px;
                border-radius: 50%;
            }
            &:first-child{
                margin-left: 0;
                @media (max-width: 768px) {
                    margin-left: 0;
                }                
            }
            &:last-child{
                margin-right: 0;
                @media (max-width: 768px) {
                    margin-right: 0;
                }
            }
            @media (max-width: 768px) {
                margin: 0;
            }
            li{
                border: 1px solid $menuColor;
                box-sizing: border-box;
                border-radius: 10px;
                margin: 15px 0;
                padding: 15px;
                text-align: center;
                min-height: 60px;
                img{
                    padding: 0 15px;
                }
                &:first-child{
                    border-color: $titleColor;
                    color: $titleColor;
                    font-family: $headlineFont;
                    font-size: 20px;
                    min-height: 90px;
                    font-weight: 700;
                    line-height: 25px;
                    &::before{
                        @include beforeAfterStyleCenter();
                        width: 10px;
                        height: 10px;
                        border-radius: 50%;
                        top: 26px;
                    }
                }
            }
        }
    }
}
.journey{
    margin-top: 90px;
    margin-bottom: 60px;
    @media (max-width: 768px) {
        padding: 0 30px;
        margin: 50px 0;
    }
    .journey__title{
        text-align: center;
        color: $titleColor;
        &::after{
            @include beforeAfterStyle();
            background-color: $titleColor;
            left: 0;
            right: 0;
            margin: 0 auto;
        }
    }
    .journey__desc{
        text-align: center;
        margin-bottom: 40px;
    }
    ul{
        display: flex;
        align-items: center;
        @media (max-width: 768px) {
            display: block;
        }
        li{
            text-align: center;
            margin-left: 15px;
            margin-right: 15px;
            position: relative;
            &:first-child{
                margin-left: 0;
            }
            &:last-child{
                margin-right: 0;
            }
            @media (max-width: 768px) {
                margin-bottom: 30px;
                @include liMStyle();
            }
            .journey__photo{
                background-color: $whiteColor;
                img{
                    mix-blend-mode: luminosity;
                }
            }
            .journey__info{
                position: absolute;
                bottom: 0;
                padding-bottom: 28px;
                text-align: center;
                width: 100%;
                color:$whiteColor;
                z-index: 2;
                opacity: 0;
                transform: translateY(25%);
                transition: all 150ms ease;
                pointer-events: none;
                .journey__name{
                    color:$whiteColor;
                    font-size: 25px;
                    font-family: $headlineFont;
                    font-weight: bold;
                    margin-bottom: 0;
                    line-height: 35px;
                    @media (max-width: 768px) {
                        font-size: 20px;
                        line-height: 27px;
                    }
                }
                p{
                    margin: 0;
                    @media (max-width: 768px) {
                        font-size: 12px;
                    }
                }
            }
            &:hover{
                img{
                    mix-blend-mode: normal;
                }
                .journey__info{
                    opacity: 1;
                    transform: translateY(0%);
                }           
                &::after{
                    content:"";
                    position: absolute;
                    width: 100%;
                    height: 135px;
                    background: linear-gradient(180deg, rgba(0, 62, 75, 0) 0%, #003E4B 100%);
                    bottom:0;
                    left: 0;
                    z-index: 1;
                }
            } 
        }
    }
}
/*network*/
.global__banner{
    max-height: 500px;
    .container{
        .banner__title{
            color: $whiteColor;
            @include bannerStyle();
            &::after{
                right: 0;
                margin: 0 auto;
                background-color: $whiteColor;
            }
        }
    }
}
.network{
    padding-top: 80px;  
    @media (max-width: 768px) {
        padding-top: 0;
    }
    .network__list{
        display: flex;
        margin-bottom: 100px;      
        @media (max-width: 768px) {
            padding: 0 30px;
            display: block;
            margin-bottom: 50px;
        }  
        .network__title{
            width: 350px;
            margin: 0;
            @media (max-width: 768px) {
                width: 100%;
                margin-bottom: 55px;
            }
            span{
                position: relative;
                display: block;
                &::after{
                    content:"";
                    position: absolute;
                    width: 97px;
                    height: 1px;
                    background-color: $darkGreen;
                    left: 0;
                    bottom: -40px;
                    @media (max-width: 768px) {
                        width: 80px;
                        bottom: -20px;
                    }
                }
                @media (max-width: 768px) {
                    display: inline-block;
                    position: initial;
                }
            }
        }
        ul{
            margin: 0;
            width: calc(1140px - 350px);
            @media (max-width: 768px) {
                width: 100%;
            }
            li{
               width: calc(24.5%);
               display: inline-block;
               @media (max-width: 768px) {
                   @include liMStyle();
               }
               &:first-child{
                   padding-left: 0;
               }
               &:last-child{
                   padding-right: 0;
               }
            }
        }
    }
}
/*contact*/ 
h1{
    display: inline-block;
    &::after{
        @include beforeAfterStyle();
        background-color: $whiteColor;
        left: 0;
        right: 0;
        margin: 0 auto;
        bottom: -8px;
        width: 70%;
        max-width: 127px;
        @media (max-width: 768px) {
            width: 80px;
        }
    }
}
.contact__banner{
    padding-top: 28%;
    padding-bottom: 0;
    .container{
        .banner__title{
            @include bannerStyle();
            &::after{
                right: 0;
                margin: 0 auto;
            }
            @media (max-width: 768px) {
                top: 20%;
            }
        }
    }
}
.content__contact{
    overflow: hidden;
}
.contact{
    display: flex;
    align-items: center;
    margin:0 -15px;
    overflow: hidden;
    color:$grayColor;
    // background-color: $darkGreen;
    @media (max-width: 768px) {
        display: block;
        margin-bottom: 32px;
        margin: 50px 0 0;
        .col-md-6{
            padding:0;
        }
    }
    .contact__info{
        width: calc(1140px - 540px);
        text-align: right;
        padding-right: 60px;
        @media (max-width: 1200px) {
            padding-right: 30px;
        }
        @media (max-width: 768px) {
            text-align: left;
            padding: 40px 30px;
        }
        .contact__us{
            margin-bottom: 50px;
            @media (max-width: 768px) {
                margin-bottom: 20px;
                a{
                    display: block;
                }
            }
        }
        .contact__branch:last-child{
            margin-top: 20px;
        }
    }
    .contact__map {
        display: flex;
        iframe{
            max-width: 100%;
        }
        @media (max-width: 768px) {
            margin: 45px 0 0;
        }
    }
    &__branch{
        color: $grayColor2;
        font-family: 'Manrope', sans-serif;
        font-weight: 400;
        p{
            margin-bottom: 0;
        }
        @media (max-width: 768px) {
            margin-bottom: 30px;
            font-size: 14px;
        }
    }
    &__item{
        display: flex;
        align-items: center;
    }
    a{
        font-weight: 700;
        color: $grayColor2;
    }
    h3{
        color:$titleColor;
        margin: 0;
    }
    h4{
        font-size: 20px;
        color:$grayColor;
        margin: 0 0 10px;
        font-family: 'Manrope', sans-serif;
        font-weight: 700;
        line-height: 1;
    }
}
.banner__about{
    .banner__content{
        width: 100%;
        margin-top: -245px;
        font-size: 24px;
    }
    .banner__title2{
        margin-bottom: 74px;
        display: inline-block;
        // &::after{
        //     margin: 0 auto;
        //     right: 0;
        //     bottom: -8px;
        //     width: 70%;
        // }
    }
}
.about{
    margin-top: -245px;
    @media (max-width: 576px) {
        margin-top: -300px;
    }
    &__info{
        background: $lightGray;
        margin-bottom: 100px;
        @media (max-width: 576px) {
            margin-bottom: 65px;
        }
        h2{
            font-size: 48px;
            position: relative;
            margin-bottom: 40px;
            display: inline-block;
            font-family: 'Cormorant Garamond';
            color: $grayColor;
            &::after{
                content:"";
                position: absolute;
                left: 0;
                bottom: -15px;
                height: 1px;
                width: 63%;
                background-color: $grayColor;
                @media (max-width: 768px) {
                    width: 110%;
                    bottom: -20px;
                }
            }
            @media (max-width: 768px) {
                font-size: 36px;
            }
        }
        &--desc{
            display: flex;
            align-items: center;
            color:$grayColor2;
            padding-left: 55px;
            ul{
                margin-left: 23px;
                li{
                    list-style-type: disc;
                    margin-bottom: 20px;
                    @media (max-width: 768px) {
                        margin-bottom: 15px;
                        line-height: 1.44;
                    }
                }
            }
            @media (max-width: 768px) {
                padding-left: calc(var(--bs-gutter-x) * .5);
                margin-top: 0;
                &__content{
                    background-color: #F3F3F4;
                    padding: 40px 22px;
                    font-size: 12px;
                }
            }
        }
    }
    &__services{
        margin-bottom: 200px;
        text-align: center;
        @media (max-width: 576px) {
            margin-bottom: 80px;
        }
        h3{
            font-size: 48px;
            font-family: $headlineFont;
            color: $grayColor;
            display: inline-block;
            margin-bottom: 80px;
            &::after{
                content:"";
                position: absolute;
                left: 0;
                right: 0;
                margin: 0 auto;
                bottom: -15px;
                height: 1px;
                width: 63%;
                background-color: $grayColor;
                @media (max-width: 768px) {
                    width: 50%;
                    bottom: -10px;
                }
            }
            @media (max-width: 768px) {
                font-size: 36px;
                margin-bottom: 65px;
            }
        }
        .col{
            transition: 0.3s ease;
            &:hover{
                .about__services--icon{
                    img{
                        &:first-child{
                            display: none;
                            height: 0;
                        }
                        &:last-child{
                            display: inline-block;
                        }
                        @media (max-width: 576px) {
                            max-width: 45px;
                        }
                    }
                }
            }
            h4{
                font-size: 24px;
                line-height: 1.2;
                text-align: center;
                letter-spacing: -0.01em;
                color: $grayColor;
                margin-top: 28px;
                @media (max-width: 768px) {
                    font-size: 16px;
                    margin-top: 20px;
                }
            }
            @media (max-width: 576px) {
                width: 50%;
                flex: 0 0 auto;
                margin-bottom: 30px;
            }
        }
        &--icon{
            text-align: center;
            cursor: pointer;
            @media (max-width: 768px) {
                min-height: 51px;
            }
            img{
                margin: 0 auto;
                transition: 0.3s all ease;
                &:last-child{
                    display: none;
                    max-width: 72px;
                }
                @media (max-width: 576px) {
                    max-width: 45px;
                }
            }
        }
    }
    &__code{
        &--title{
            margin-top: 65px;
        }
        &--list{
            text-align: left;
            // display: flex;
            // flex-wrap: wrap;
            // row-gap: 15px;
            // column-gap: 15px;
            &__item{
                position: relative;
                margin-bottom: 55px;
                font-size: 24px;
                font-weight: 700;
                letter-spacing: -0.01em;
                color: $grayColor;
                line-height: 1.2;
                font-family: $headlineFont;
                transition: all 0.5s ease;
                padding-right: 6rem;
                span{
                    display: inline-block;
                    padding: 10px;
                    gap: 10px;
                    color:$goldColor;
                    width: 31px;
                    height: 55px;
                    border: 1px solid $goldColor;
                    border-radius: 23px;
                    margin-right: 20px;
                }
                &:hover div{
                    display: block;
                    height: auto;
                    opacity: 1;
                }
            }
            &__detail{
                display: none;
                transition: all 0.5s linear;
                font-size: 16px;
                font-family: $menuFont;
                font-weight: normal;
                margin-top: 15px;
                line-height: 18px;
                padding-left: 55px;
                height: 0;
                opacity: 0;
                p{
                    line-height: 25px;
                }
            }
        }
    }
}
.contact__banner{
    min-height: 354px;
    padding-top: 0;
    display: flex;
    align-items: center;
    background: url(../images/contact-banner.jpg) no-repeat;
    background-size: cover;
    @media (max-width: 768px) {
        background: transparent;
        min-height: auto;
        .banner__container.container{
            top: auto;
            bottom: 50px;
            h1{
                margin-bottom: 8px;
            }
        }
    }
    .banner__content{
        width: 100%;
        h1{
            text-align: center;
        }
    }
    // .banner__title2{
    //     &::after{
    //         margin: 0 auto;
    //         right: 0;
    //     }
    // }
}
.team{
    h3{
        font-size: 20px;
        line-height: 1.44;
        position: relative;
        display: inline-block;
        text-align: left;
        font-family: $menuFont;
        font-weight: normal;
        span{
            font-size: 32px;
            display: block;
            font-family: $headlineFont;
            @media (max-width: 768px) {
                font-size: 16px;
            }
        }
        &::after{
            @include beforeAfterStyle();
            bottom: -10px;
            width: 30%;
            background: $whiteColor;
        }
    }
    ul{
        margin-left: 15px;
        padding-left: 0;
        margin-bottom: 0;
        li{
            list-style: disc;
            color:$grayColor2;
        }
    }
    &__banner{
        h1{
            margin-bottom: 100px;
            @media (max-width: 768px) {
                margin-bottom: 0;
            }
        }
        .banner__content{
            margin: 0 auto;
        }
    }
    &__box{
        border: 1px solid $titleColor;
        padding: 5px;
        margin-top: -100px;
        @media (max-width: 768px) {
            margin-top: -195px;
        }
    }
    &__info{
        background: $menuColor;
        &--left{
            background: $darkGreen;
            color: $whiteColor;
            text-align: center;
            padding: 65px 40px;
            height: 100%;
        }
        &--right{
            padding: 50px 55px;
            font-size: 16px;
            line-height: 1.44;
            color:$grayColor2;
            height: 100%;
            display: flex;
            align-items: center;
            @media (max-width: 768px) {
                padding: 30px 33px;
            }
        }
        h3{
            @media (max-width: 768px) {
                font-size: 20px;
                text-align: center;
                &::after{
                    width: 70%;
                    margin: 0 auto;
                    right: 0;
                    left: 0;
                }
            }
        }
    }
    &__list{
        margin-top: 85px;
        margin-bottom: 160px;
        @media (max-width: 768px) {
            margin-bottom: 100px;
            margin-top: 30px;
        }
        .col:first-child,
        .col:nth-child(6n){
            .team__list--item{
                &:after{
                    height: 0;
                    background-color: transparent;
                }
            }
        }
        h3{
            color: $grayColor3;
            line-height: 34px;
            font-size: 26px;
            font-family: $headlineFont;
            &::after{
                background: $grayColor3;
                width: 63px;
                left: 0;
                @media (max-width: 768px) {
                    width: 33px;
                }
            }
            span{
                font-size: 18px;
                font-family: $menuFont;
            }
            @media (max-width: 768px) {
                // font-size: 20px;
                line-height: 1.44;
            }
        }
        ul{
            margin-top: 20px;
            @media (max-width: 768px) {
                margin-left: 23px;
                line-height: 18px;
            }
        }
        &--item{
            min-height: 312px;
            padding: 30px 15px;
            border-top: 1px solid $darkGreen;
            position: relative;
            font-size: 13px;
            @media (max-width: 768px) {
                font-size: 12px;
                padding: 20px 8px;
                min-height: 235px;
            }
            &::before{
                content: "";
                height: 8px;
                width: 68px;
                background-color: $goldColor;
                top: -8px;
                left: 0;
                position: absolute;
            }
            &::after{
                content: "";
                height: calc(100% - 38px);
                width: 1px;
                background-color: $darkGreen;
                top: 15px;
                left: 0;
                position: absolute;
            }
        }  
        .col-md-3{
            @media (min-width: 769px) {
                &:nth-child(4n+1){
                    .team__list--item{
                        &:after{
                            background-color: transparent;
                        }
                    }
                }
            }
            @media (max-width: 768px) {
                &:nth-child(2n+1){
                    .team__list--item{
                        &:after{
                            background-color: transparent;
                        }
                    }
                }
                &:nth-child(2n){
                    .team__list--item{
                        padding-left: 0;
                        margin-left: -8px;
                        &::before{
                            left: -15px;
                        }
                        &::after{
                            left: -15px;
                            top: 7px;
                            height: calc(100% - 23px);
                        }
                    }
                }
                &:last-child{
                    .team__list--item{
                        min-height: 285px;
                    }
                }
            }
        }
    }
    .container-fluid{
        max-width: 1465px;
    }
}
@media(max-width: 768px){
    .row>*,
    .container{
        padding-left: 16px;
        padding-right: 16px;
    }
    .row{
        margin-left: -16px;
        margin-right: -16px;
    }
}